/* game board table */

body {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: darkgray;
}

input {
  margin: 5px;
  border-radius: 5px;
  width: 200px;
  height: 30px;

}

button {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 7.5%;
  height: 5%;
}

#game {
  border: solid 5px black;
  background-color: slategray;
  border-radius: 20px;
  visibility: collapse;
}

#board td {
  width: 75px;
  height: 75px;
  border: solid 1px black;
  border-radius: 5px;

}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  animation-duration: .5s;
  animation-name: drop

}

@keyframes drop {
  0% {transform:translateY(-500px);}
  100% {transform:translateY(0)}
}


/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: rgb(221, 212, 162);
  opacity: .5;
}
